<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- Make camera optional (so app runs even if device has no camera) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/chef_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chef_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PizzaManiaApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".BranchMapActivity"
            android:exported="false" />
        <activity
            android:name=".AddItemActivity"
            android:exported="false" />
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ViewStaffActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".ViewOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".PizzaDetailsActivity"
            android:exported="false" />
    </application>

</manifest>